. {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    align-items: center;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    background: rgb(15, 15, 15);
}

.topo {
    border: 5px solid rgb(82, 2, 2);
    background-color: rgb(15, 15, 15);
    height: 65px;

}


.logo {
    float: left;
    margin-top: 0;
    width: 200px;
    height: 100px;
    margin-left: 100px;
}

.rede {
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

.banner {
    height: 300px;
    margin-top: 0%;
}

.mg1 {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left:100px;
    margin-right: 50px;
    width: 100%;
    height: 400px;

}

.mg2 {

    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 450px;
    margin-right: 150px;
    width: 100%;
    height: 400px;
}

.mg3 {

    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 400px;
    margin-right: 200px;
    width: 100%;
    height: 400px;

}

.mg4 {

    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 350px;
    margin-right: 200px;
    width: 100%;
    height: 400px;

}

.carrossel {
    filter: drop-shadow(0px 0px 10px #000);
    overflow: hidden;
    width: 1000px;
    height: 600px;
}

.container {
    display: flex;
    transition: 0.15s ease-in-out;
    transform: translateX(0);

}
#menu01 {
    float: left;
    margin-top: 0;
    margin-left: 470px;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 30px;
    padding: auto;
}

#menu02 {
    margin-top: 0;
    float: right;
    margin-right: 470px;
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 30px;
    padding: auto;
}
